target/
.classpath
.project
.settings/
.vscode/
.idea/
.gradle/
*.iml
config/*
!config/test-config.yml
!config/example-postgres-config.yml
!config/example-orcl-config.yml
lib/
data/
release/
docker-compose.yml
dependency-reduced-pom.xml
dbw.cache
